{% extends 'index.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <form action="/add_US_word" method="post">
                <label for"us_word">US word to add:</label>
                <input type="text" name="us_word" required><br>

                <label for"definition">Definition:</label>
                <input type="text" name="definition" required><br>

                <label for"us_region">Region:</label>
                <select name="us_region">
                    <option value="northeast">Northeast</option>
                    <option value="south">South</option>
                    <option value="southwest">Southwest</option>
                    <option value="midwest">Midwest</option>
                    <option value="west">West</option>
                    <option value="national">Not regionally specific</option>
                </select><br>

                <label for"example">Example:</label>
                <input type="text" name="example" required><br><br>

                <label for"uk_word">UK word to add:</label>
                <input type="text" name="uk_word" required><br>

                <label for"uk_definition">Definition:</label>
                <input type="text" name="uk_definition" required><br>

                <label for"uk_region">Region:</label>
                <select name="uk_region">
                    <option value="Northern Ireland">Northern Ireland</option>
                    <option value="scotland">Scotland</option>
                    <option value="wales">Wales</option>
                    <option value="southeast_england">Southeast England</option>
                    <option value="southwest_england">Southwest England</option>
                    <option value="london">London</option>
                    <option value="midlands">Midlands</option>
                    <option value="yorkshire">Yorkshire</option>
                    <option value="national">Not regionally specific</option>
                </select><br>

                <label for"uk_example">Example:</label>
                <input type="text" name="uk_example" required><br>

                <button type="submit">Add Word</button>
            </form>

            <form action="/delete_all" method="post">
                <button type="submit">Delete All</button>
            </form>
        </div>
        <a href="/view_all"><button type="button">view all words</button></a>
    </div>
{% endblock %}
