<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Add Word</title>
    </head>
    <body>

        <div class="container">
            <h1 class="jumbotron">Add your own word!</h1>

            <form action="/add_US_word" method="post" class="form-group">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="center">
                            <h3>Add US Word</h3><br>
                            <label for"us_word">Word:</label>
                            <input type="text" name="us_word" class="form-control" required><br>

                            <label for"definition">Definition:</label>
                            <input type="text" name="definition" class="form-control" required><br>

                            <label for"example">Example:</label>
                            <input type="text" name="example" class="form-control" required><br>

                            <label for"us_region">Region:</label>
                            <select class="form-control" name="us_region">
                                <option value="Northeast">Northeast</option>
                                <option value="South">South</option>
                                <option value="Southwest">Southwest</option>
                                <option value="Midwest">Midwest</option>
                                <option value="West">West</option>
                                <option value="National">Not regionally specific</option>
                            </select><br><br>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="center">
                            <h3>Add UK Word</h3><br>
                            <label for"uk_word">Word:</label>
                            <input type="text" name="uk_word" class="form-control" required><br>

                            <label for"uk_definition">Definition:</label>
                            <input type="text" name="uk_definition" class="form-control" required><br>


                            <label for"uk_example">Example:</label>
                            <input type="text" name="uk_example" class="form-control" required><br>

                            <label for"uk_region">Region:</label>
                            <select class="form-control" name="uk_region">
                                <option value="Northern Ireland">Northern Ireland</option>
                                <option value="Scotland">Scotland</option>
                                <option value="Wales">Wales</option>
                                <option value="Southeast England">Southeast England</option>
                                <option value="Southwest England">Southwest England</option>
                                <option value="London">London</option>
                                <option value="Midlands">Midlands</option>
                                <option value="Yorkshire">Yorkshire</option>
                                <option value="National">Not regionally specific</option>
                            </select><br><br>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="center">
                            <a href="/"><button type="button" class="btn btn-sm">Home</button></a>
                            <button type="submit" class="btn btn-sm">Add Word</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
