<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Translator</title>
    </head>
    <body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="jumbotron">Welcome to the Translator</h1>
                    <form action="/search" method="get" class="form-group">
                        <input type="text" name="search" placeholder="your search word/phrase" class="form-control" id="search" required><br>
                        <div class="center">
                            <button type="submit" class="btn btn-sm">Search</button>
                        </div>
                    </form>
                    <a href="/complete_list"><button type="button">view entire dictionary</button></a>
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
