<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Search</title>
    </head>
    <body>
        {% if output is empty %}
            <h4>No results found</h4>
        {% elseif output is not empty %}
            <h4>Your seach results:</h4>
            {% for word in output %}
                <p>Word: {{ word.getWord }}</p>
                <p>Definition: {{ word.getDefinition }}</p>
                <p>Example: {{ word.getExample }}</p>
                <p>Region: {{ word.getRegion }}</p><br>
            {% endfor %}
        {% endif %}
    </body>
</html>
