<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>felx</title>
    </head>
    <body>

    <div class="container">

        <h1 class="jumbotron">{{ UK_word.getWord }}</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Word</th>
                </tr>
            </thead>

            {% if US_word is not empty %}
                {% for word in US_word %}
                    <tbody>
                        <tr>
                            <td>{{ word.getWord }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table><br>

        <a href="/"><button type="button" class="btn btn-sm">Home</button></a><br>
    </div>
</body>
</html>
