<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>felx</title>
    </head>
    <body>

    <div class="container">

        {{UK_word.getWord}}

        {% if US_word is not empty %}
        {% for word in US_word %}
        {{word.getWord}}
        {% endfor %}
        {% endif %}




        <a href="/"><button type="button">Home</button></a>
    </div>
</body>
</html>
