<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <title>Word List</title>
    </head>
    <body>

    <div class="container">
        <div class="center">
            <h1>UK words</h1>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>UK Words</th>
                </tr>
            </thead>

            {% for word in uk_words %}
                <tbody>
                    <tr>
                        <td><a href="/uk_link/{{ word.getId }}">{{ word.getWord }}</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>

        <div class="center">
            <h1>US Words</h1>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>US Words</th>
                </tr>
            </thead>

            {% for word in us_words %}
                <tbody>
                    <tr>
                        <td><a href="/us_link/{{ word.getId }}">{{ word.getWord }}</a></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>

        <div class="center">
            <a href="/"><button type="button" class="btn btn-sm">Home</button></a>
        </div>
    </div>
</body>
</html>
